label 1
    user:  xxxxxxxx
    pass:  yyyyyyy
    email: moomin@daisuki.jp
---------------------------------------------------------------------
label 2
    user:  inmu
    pass:  inmu
    email: manatsunoyo+inmu@hakkiri.wakanda.ne
---------------------------------------------------------------------
label 3
    user:  inmu
    pass:  inmu
    email: nijuu.yonsai@gakusei.desu
---------------------------------------------------------------------
label 4
    user:  sora
    pass:  wa
    email: nani@iro.ka
---------------------------------------------------------------------
label 5
    url:   https://somelogin.com
    id:    sensei
    pass:  damedesu
